<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sprint3</title>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="@Url.Page("/Perfil")" class="blue-grey-text text-darken-2" style="font-family: 'Oswald', sans-serif;">Perfil</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Page("/Index")" class="blue-grey-text text-darken-2" style="font-family: 'Oswald', sans-serif;">Terminar Sesión</a></li>
        </ul>
        <script>
            $(document).ready(function () {
                $('.dropdown-trigger').dropdown();
            });

            $(document).ready(function () {
                $('.sidenav').sidenav();
            });
        </script>

        <!-- NavBar -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper white">
                    <img src="img/logoTernium.png" class="logo hide-on-med-and-down" />
                    <a href="@Url.Page("/menu")" class="center brand-logo red-text" style="font-family: 'Oswald', sans-serif;">El Gran Escape</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="@Url.Page("/menu")" class="greyDark" style="font-family: 'Oswald', sans-serif;">Menú</a></li>
                        <li><a href="@Url.Page("/EntrenamientoLeaderboard")" class="greyDark" style="font-family: 'Oswald', sans-serif;">Ranking</a></li>
                        <!-- Dropdown Trigger -->
                        <li><a href="" class="btn btn-floating red dropdown-trigger" data-target="dropdown1"><i class="dropdown-trigger blue-grey darken-2 material-icons">person</i></a></li>
                        <!--
                    <li><a href="" class="btn btn-floating red white-text dropdown-trigger" data-target="dropdown1"></a></li>
                        -->
                    </ul>
                    <a href="#" data-target="slide-out" class="sidenav-trigger hide-on-large-only"><i class="material-icons blue-grey-text text-darken-2" style="font-size: 32px">menu</i></a>
                </div>
            </nav>
        </div>

        <!-- Side Nav para Mobil -->
        <ul id="slide-out" class="sidenav">
            <li><a href="@Url.Page("/menu")" class="top blue-grey-text text-darken-2" style="font-family: 'Oswald', sans-serif; font-size: 18px;">Menú</a></li>
            <li><a href="@Url.Page("/EntrenamientoLeaderboard")" class="blue-grey-text text-darken-2" style="font-family: 'Oswald', sans-serif; font-size: 18px;">Ranking</a></li>
            <li><a href="@Url.Page("/Perfil")" class="blue-grey-text text-darken-2" style="font-family: 'Oswald', sans-serif; font-size: 18px;">Perfil</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Page("/Index")" class="blue-grey-text text-darken-2" style="font-family: 'Oswald', sans-serif; font-size: 18px;">Terminar Sesión</a></li>
        </ul>
        
    </header>

    <!-- Primera página que ve el usuario cuando se mete es la del leaderboard -->
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
