@page
@model Sprint3.Pages.EntrenamientoLeaderboardModel
@{
    ViewData["Title"] = "Entrenamiento";
}

<div class="container">
    <!-- Leaderboard -->
    <div>

        <!-- Escoger Opción: Leaderboard de Examen o Entrenamiento o Indicadores-->
        <div class="centered row top" style="font-family: 'Oswald', sans-serif; font-size: 24px;">

            <div class="col s3 m3">
                <a href="@Url.Page("/EntrenamientoLeaderboard")" class="red1">Entrenamiento</a>
            </div>

            <div class="col s3 offset-s5 m3 offset-m2">
                <a href="@Url.Page("/ExamenLeaderboard")" class="greyForRanking">Examen</a>
            </div>

            <div class="col s12 m3 offset-m1">
                <a href="@Url.Page("/IndicadoresLeaderboard")" class="greyForRanking botonindicadores">Indicadores</a>
            </div>

        </div>

        <div class="row"></div>

        <div class="head-indicadores">
            <h5 class="center-align greyDark">Top 10 de mejores resultados en entrenamiento</h5>
        </div>

        <div class="top">
            <table class="centered greyDark">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Puntos</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaEntrenamiento)
                    {
                        <tr>
                            <!-- Lugar -->
                            <td>
                                @Html.DisplayFor(modelItem => item.posicion)
                            </td>

                            <!-- Nombre -->
                            <td>
                                @Html.DisplayFor(modelItem => item.username)
                            </td>

                            <!-- Score -->
                            <td>
                                @Html.DisplayFor(modelItem => item.score)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>