@page
@model Sprint3.Pages.PerfilModel
@{
    ViewData["Title"] = "Perfil";
}

<div class="container">
    <h1 class="tituloPerfil center-align"> @Model.NombreUsuario @Model.ApellidoUsuario </h1>
</div>
<div class="row">
    <div class="col s4">
        <table class="tablaPerfil">
            <tr>
                <th>Exámenes</th>
            </tr>
            <tr>
                <td>#</td>
                <td>Puntaje</td>
                <td>fecha</td>
            </tr>
            <tr>
                <td>1</td>
                <td>80</td>
                <td>10/03/2021</td>
            </tr>
            <tr>
                <td>2</td>
                <td>85</td>
                <td>20/03/2021</td>
            </tr>
            <tr>
                <td>3</td>
                <td>90</td>
                <td>28/03/2021</td>
            </tr>
            <tr>
                <td>4</td>
                <td>100</td>
                <td>10/04/2021</td>
            </tr>
        </table>
    </div>
    <div class="col s4">
        <table class="tablaPerfil">
            <thead>
                <tr>
                    <th>Entrenamientos</th>
                </tr>
                <tr>
                    <th>#</th>
                    <th>Puntaje</th>
                    <th>Racha</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaEntrenamiento)
                {
                <tr>
                    <!-- # -->
                    <td>
                        @Html.DisplayFor(modelItem => item.numero)
                    </td>

                    <!-- Puntaje -->
                    <td>
                        @Html.DisplayFor(modelItem => item.puntaje)
                    </td>

                    <!-- Racha -->
                    <td>
                        @Html.DisplayFor(modelItem => item.racha)
                    </td>

                    <!-- Fecha -->
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col s4">
        <table class="tablaPerfil">
            <tr>
                <th>Medallas</th>
            </tr>
            <tr>
                <td><img src="img/medalla_oro.png" class="imagenMedalla" /></td>
            </tr>
        </table>
    </div>
</div>